@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body { @apply font-dm; }

h1, h2, h3, h4, h5, h6 { @apply font-bold font-koho; }
h1 { @apply text-8xl; }
h2 { @apply text-3xl; }
h3 { @apply text-2xl; }
h4 { @apply text-xl; }
h5 { @apply text-lg; }
h6 { @apply text-base; }

.bg-light { @apply bg-inherit; }
.bg-purple { @apply bg-light_purple; }
.bg-green { @apply bg-light_green; }
.bg-red { @apply bg-light_red; }


.hero-section {
  /* background-image: url("/bg_particles.png"); */
  /* background-size: contain; */
}